In [39]:
import sys
import datetime

sys.path.append('/Users/parisakhaleghi/Desktop/Coding/assist_projects/python/git_commit')

from git_commit import commit

commit( '/Users/parisakhaleghi/Desktop/Coding/ML-Engineering-sample-codes',
        '/Users/parisakhaleghi/Desktop/Coding/ML-Engineering-sample-codes/ML_with_python/7_logistic_regression_binary/exercise.ipynb',
        'update: take a mean for each group (employee who left and remained)',
        datetime.datetime.now().year,
        datetime.datetime.now().month-1,
        datetime.datetime.now().day,
        datetime.datetime.now().hour,
        datetime.datetime.now().minute
        )

In [40]:
import pandas as pd
df = pd.read_csv('HR_comma_sep.csv')
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [42]:
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
left = df[df.left==1]
left.shape

(3571, 10)

In [43]:
remained = df[df.left==0]
remained.shape

(11428, 10)

In [44]:
df.groupby('left').agg('mean', numeric_only=True)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321